.question-container {
    display: flex;
    align-items: flex-start;
}
.post-sidebar {
    width: 70px;
    display: flex;
    align-items: center;
}
.question {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.question-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}
.question-header h1{
    margin: 0;
}
.question-info-container {
    display: flex;
    justify-content: space-between;
    color: #555;
    margin-bottom: 10px;
}
.question-info-container p {
    margin-right: 20px;
}
.question-time-details {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    color: #555;
}
/*hr {*/
    /*border: 1px solid blue;*/
/*}*/
